.secrets
TrainedModels/*
index.html
style.css
data/ForumData/anonymous_forum_filtered.csv
data/ForumData/anonymous_forum_prioritized_annotated.csv
data/ForumData/anonymous_forum_prioritized.csv
data/ForumData/anonymous_forum.csv
training/FineTuning/Qwen3*
training/FineTuning/example
*__pycache__*
training/FineTuning/=0.9.3
